@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-[56px] leading-[120%] font-bold;
        font-family: "Asap", sans-serif;
    }

    h2 {
        @apply text-[24px] leading-[120%] font-bold;
        font-family: "Asap", sans-serif;
    }

    h3 {
        @apply text-[16px] leading-[120%] font-bold;
        font-family: "Asap", sans-serif;
    }

    h4 {
        @apply text-[20px] leading-[120%] font-normal;
        font-family: "Inconsolata", sans-serif;
    }

    h5 {
        @apply text-[16px] leading-[140%] font-normal;
        font-family: "Maven Pro", sans-serif;
    }

    h6 {
        @apply text-[14px] leading-[140%] font-normal;
        font-family: "Maven Pro", sans-serif;
    }
}